<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{user.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{user.list.headline}]]</h1>
                <div>
                    <a th:href="@{/users/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{user.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${users.empty}">[[#{user.list.empty}]]</div>
            <div th:if="${!users.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{user.id.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{user.firstName.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{user.lastName.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{user.gender.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{user.email.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{user.phoneNumber.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{user.birthday.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="user : ${users}" class="odd:bg-gray-100">
                            <td class="p-2">[[${user.id}]]</td>
                            <td class="p-2">[[${user.firstName}]]</td>
                            <td class="p-2">[[${user.lastName}]]</td>
                            <td class="p-2">[[${user.gender}]]</td>
                            <td class="p-2">[[${user.email}]]</td>
                            <td class="p-2">[[${user.phoneNumber}]]</td>
                            <td class="p-2">[[${user.birthday}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/users/edit/{id}(id=${user.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{user.list.edit}]]</a>
                                    <form th:action="@{/users/delete/{id}(id=${user.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{user.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
