<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}" xmlns:hx="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content" class="m-4">
    <div class="flex items-baseline gap-8 mb-4">
        <h1 class="text-2xl">Products</h1>
        <a th:href="@{/products/new}" class="btn">Add Product</a>
    </div>
    <th:block th:if="${message}">
        <div th:replace="~{fragments :: success-message(${message})}"></div>
    </th:block>

    <ul class="mt-4 ml-4 list-disc">
        <li th:each="product : ${products}">
            <span th:text="${product.name}"></span> -
            <span th:text="|€ ${product.price}|"></span> -
            <span hx:delete="@{/products/{id}(id=${product.id})}"
                  hx-trigger="click"
                  class="text-red-500 hover:underline hover:cursor-pointer">
                Delete
            </span>
        </li>
    </ul>
</div>
<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->
</th:block>
</body>
</html>
