<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="mx-auto max-w-7xl px-4">
        <div class="flex justify-between items-center m-4">
            <div class="text-3xl">Shoelace - Thymeleaf Demo</div>
            <div class="flex items-center text-3xl gap-4">
                <sl-icon name="cart"></sl-icon>
                <sl-avatar initials="WD" label="Avatar with initials: WD"></sl-avatar>
            </div>
        </div>
        <hr class="mx-4">
    </div>

    <div class="bg-white">
        <div class="pt-6 pb-16 sm:pb-24">
            <nav aria-label="Breadcrumb" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <sl-breadcrumb>
                    <sl-breadcrumb-item th:href="@{/women}">
                        <sl-icon slot="prefix" name="house"></sl-icon>
                        Women
                    </sl-breadcrumb-item>
                    <sl-breadcrumb-item th:href="@{/women/clothing}">Clothing</sl-breadcrumb-item>
                    <sl-breadcrumb-item th:href="@{/women/clothing/basic-tee}"
                                        class="font-medium text-gray-500 hover:text-gray-600">Basic Tee
                    </sl-breadcrumb-item>
                </sl-breadcrumb>
            </nav>
            <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
                    <div class="lg:col-span-5 lg:col-start-8">
                        <div class="flex justify-between">
                            <h1 class="text-xl font-medium text-gray-900">Basic Tee</h1>
                            <p class="text-xl font-medium text-gray-900">$35</p>
                        </div>
                    </div>

                    <!-- Image gallery -->
                    <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
                        <h2 class="sr-only">Images</h2>

                        <div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 lg:gap-8">
                            <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-featured-product-shot.jpg"
                                 alt="Back of women&#039;s Basic Tee in black."
                                 class="lg:col-span-2 lg:row-span-2 rounded-lg">
                        </div>
                    </div>

                    <div class="mt-8 lg:col-span-5">
                        <form method="post" hx:post="@{/purchase}" hx-swap="none">
                            <!-- Color picker -->
                            <div>
                                <h2 class="text-sm font-medium text-gray-900">Color</h2>

                                <fieldset class="mt-2">
                                    <legend class="sr-only">Choose a color</legend>
                                    <div class="flex items-center space-x-3">
                                        <!--
                                          Active and Checked: "ring ring-offset-1"
                                          Not Active and Checked: "ring-2"
                                        -->
                                        <label class="-m-0.5 relative p-0.5 rounded-full flex items-center justify-center cursor-pointer focus:outline-none ring-gray-900">
                                            <input type="radio" name="color-choice" value="Black" class="sr-only"
                                                   aria-labelledby="color-choice-0-label">
                                            <span id="color-choice-0-label" class="sr-only"> Black </span>
                                            <span aria-hidden="true"
                                                  class="h-8 w-8 bg-gray-900 border border-black border-opacity-10 rounded-full"></span>
                                        </label>

                                        <!--
                                          Active and Checked: "ring ring-offset-1"
                                          Not Active and Checked: "ring-2"
                                        -->
                                        <label class="-m-0.5 relative p-0.5 rounded-full flex items-center justify-center cursor-pointer focus:outline-none ring-gray-400">
                                            <input type="radio" name="color-choice" value="Heather Grey" class="sr-only"
                                                   aria-labelledby="color-choice-1-label">
                                            <span id="color-choice-1-label" class="sr-only"> Heather Grey </span>
                                            <span aria-hidden="true"
                                                  class="h-8 w-8 bg-gray-400 border border-black border-opacity-10 rounded-full"></span>
                                        </label>
                                    </div>
                                </fieldset>
                            </div>

                            <!-- Size picker -->
                            <div class="mt-8">
                                <div class="flex items-center justify-between">
                                    <h2 class="text-sm font-medium text-gray-900">Size</h2>
                                    <a href="#" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">See
                                        sizing chart</a>
                                </div>

                                <fieldset class="mt-2">
                                    <legend class="sr-only">Choose a size</legend>
                                    <div class="grid grid-cols-3 gap-3 sm:grid-cols-6">
                                        <!--
                                          In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
                                          Active: "ring-2 ring-offset-2 ring-indigo-500"
                                          Checked: "bg-indigo-600 border-transparent text-white hover:bg-indigo-700", Not Checked: "bg-white border-gray-200 text-gray-900 hover:bg-gray-50"
                                        -->
                                        <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                            <input type="radio" name="size-choice" value="XXS" class="sr-only"
                                                   aria-labelledby="size-choice-0-label">
                                            <span id="size-choice-0-label">XXS</span>
                                        </label>

                                        <!--
                                          In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
                                          Active: "ring-2 ring-offset-2 ring-indigo-500"
                                          Checked: "bg-indigo-600 border-transparent text-white hover:bg-indigo-700", Not Checked: "bg-white border-gray-200 text-gray-900 hover:bg-gray-50"
                                        -->
                                        <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                            <input type="radio" name="size-choice" value="XS" class="sr-only"
                                                   aria-labelledby="size-choice-1-label">
                                            <span id="size-choice-1-label">XS</span>
                                        </label>

                                        <!--
                                          In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
                                          Active: "ring-2 ring-offset-2 ring-indigo-500"
                                          Checked: "bg-indigo-600 border-transparent text-white hover:bg-indigo-700", Not Checked: "bg-white border-gray-200 text-gray-900 hover:bg-gray-50"
                                        -->
                                        <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                            <input type="radio" name="size-choice" value="S" class="sr-only"
                                                   aria-labelledby="size-choice-2-label">
                                            <span id="size-choice-2-label">S</span>
                                        </label>

                                        <!--
                                          In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
                                          Active: "ring-2 ring-offset-2 ring-indigo-500"
                                          Checked: "bg-indigo-600 border-transparent text-white hover:bg-indigo-700", Not Checked: "bg-white border-gray-200 text-gray-900 hover:bg-gray-50"
                                        -->
                                        <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                            <input type="radio" name="size-choice" value="M" class="sr-only"
                                                   aria-labelledby="size-choice-3-label">
                                            <span id="size-choice-3-label">M</span>
                                        </label>

                                        <!--
                                          In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
                                          Active: "ring-2 ring-offset-2 ring-indigo-500"
                                          Checked: "bg-indigo-600 border-transparent text-white hover:bg-indigo-700", Not Checked: "bg-white border-gray-200 text-gray-900 hover:bg-gray-50"
                                        -->
                                        <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                            <input type="radio" name="size-choice" value="L" class="sr-only"
                                                   aria-labelledby="size-choice-4-label">
                                            <span id="size-choice-4-label">L</span>
                                        </label>

                                        <!--
                                          In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
                                          Active: "ring-2 ring-offset-2 ring-indigo-500"
                                          Checked: "bg-indigo-600 border-transparent text-white hover:bg-indigo-700", Not Checked: "bg-white border-gray-200 text-gray-900 hover:bg-gray-50"
                                        -->
                                        <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 opacity-25 cursor-not-allowed">
                                            <input type="radio" name="size-choice" value="XL" disabled class="sr-only"
                                                   aria-labelledby="size-choice-5-label">
                                            <span id="size-choice-5-label">XL</span>
                                        </label>
                                    </div>
                                </fieldset>
                            </div>

                            <button type="submit"
                                    class="mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                Add to cart
                            </button>
                        </form>

                        <!-- Product details -->
                        <div class="mt-10">
                            <h2 class="text-sm font-medium text-gray-900">Description</h2>

                            <div class="prose prose-sm mt-4 text-gray-500">
                                <p>The Basic tee is an honest new take on a classic. The tee uses super soft, pre-shrunk
                                    cotton for true comfort and a dependable fit. They are hand cut and sewn locally,
                                    with a special dye technique that gives each tee it's own look.</p>
                                <p>Looking to stock your closet? The Basic tee also comes in a 3-pack or 5-pack at a
                                    bundle discount.</p>
                            </div>
                        </div>

                        <div class="mt-8 border-t border-gray-200 pt-8">
                            <h2 class="text-sm font-medium text-gray-900">Fabric &amp; Care</h2>

                            <div class="prose prose-sm mt-4 text-gray-500">
                                <ul role="list">
                                    <li>Only the best materials</li>

                                    <li>Ethically and locally made</li>

                                    <li>Pre-washed and pre-shrunk</li>

                                    <li>Machine wash cold with similar colors</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Policies -->
                        <section aria-labelledby="policies-heading" class="mt-10">
                            <h2 id="policies-heading" class="sr-only">Our Policies</h2>

                            <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                                <div class="rounded-lg border border-gray-200 bg-gray-50 p-6 text-center">
                                    <dt>
                                        <svg class="mx-auto h-6 w-6 flex-shrink-0 text-gray-400" fill="none"
                                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64"/>
                                        </svg>
                                        <span class="mt-4 text-sm font-medium text-gray-900">International delivery</span>
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-500">Get your order in 2 years</dd>
                                </div>

                                <div class="rounded-lg border border-gray-200 bg-gray-50 p-6 text-center">
                                    <dt>
                                        <svg class="mx-auto h-6 w-6 flex-shrink-0 text-gray-400" fill="none"
                                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                        </svg>
                                        <span class="mt-4 text-sm font-medium text-gray-900">Loyalty rewards</span>
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-500">Don&#039;t look at other tees</dd>
                                </div>
                            </dl>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="js-content">

    document.addEventListener('item-bought', () => {
        console.log('An item was bought, show the toast!');
        notifySuccess('Your item has been added to the cart.');
    });

    document.addEventListener('htmx:responseError', () => {
        notifyError('There was a problem communicating with the server.')
    });

    function notifySuccess(message) {
        notify(message, 'success', 'check2-circle')
    }

    function notifyError(message) {
        notify(message, 'danger', 'exclamation-octagon')
    }

    // Custom function to emit toast notifications
    function notify(message, variant = 'primary', icon = 'info-circle', duration = 3000) {
        const alert = Object.assign(document.createElement('sl-alert'), {
            variant,
            closable: true,
            duration: duration,
            innerHTML: `
        <sl-icon name="${icon}" slot="icon"></sl-icon>
        ${escapeHtml(message)}
      `
        });

        document.body.append(alert);
        return alert.toast();
    }

    // Always escape HTML for text arguments!
    function escapeHtml(html) {
        const div = document.createElement('div');
        div.textContent = html;
        return div.innerHTML;
    }
</script>
</body>
</html>
