<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/application.css">
</head>
<body>
<h1>Server Sent Events Demo</h1>
<div>Current user: <span sec:authentication="name"></span></div>
<div hx-ext="sse" sse-connect="/progress-events">
    <button hx-post="/" hx-swap="none">Generate PDF</button>
    <div style="margin-bottom: 2rem;"></div>
    <div id="progress-wrapper" sse-swap="message">
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/ext/sse.js}"></script>
</body>
</html>
